body {
    color: #008089;
    height: 100%;
    line-height: 1.5;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #f5f5f5;
}


th, td {
    text-align: center;

}


    tr:nth-child(2n+1) {
        background-color: #d7e5d7;
    }


* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    text-align: center;

}


input {
    display: inline-block;
    line-height: 2;


}



tr {
    align-content: center;
}


