body {
    color: #008089;
}

label, input {
    display: block;
}

label {
    margin-top: 10px;
}

table {
    border-spacing: 5px;
}

th, td {
    border: 2px solid #5d8d81;
    text-align: left;
    padding: 5px;
}

tr {
    background-color: #ffbd84;
}

    tr:nth-child(2n+1) {
        background-color: #a9e1e1;
    }

input[type=submit] {
    background-color: #ffbd84;
    border: 2px solid #5d8d81;
    padding: 5px 15px;
    color: #008089;
    cursor: pointer;
}

a:link {
    color: #099ca7;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #5d748d;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #001dff;
    background-color: transparent;
    text-decoration: underline;
}

img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    height: 200px;
}

* {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}


button {
    border: none;
    background-color: white;
    margin-top: 20px;
    color: #a43700;
    cursor: pointer;
    font-size: 90%;
}
