<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav>
        <div id="navbar">
            <a href="/">Home</a>
            <a href="{{ url_for('list_subject') }}">Subjects</a>
            <a href="{{ url_for('view_user', user_id=session['user_id']) }}">Profile</a>
            {% if 'logged_in' not in session %}
            <a href="/login">Login</a>
            {% else %}
            You are logged in as {{ session.first_name }}
            <a href="/logout">Log out</a>
        </div>
        
        {% endif %}
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <ul>
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</body>
</html>