{% extends '_layout.html' %}

{% block title %} Subjects {% endblock %}

{% block content %}
<table>
    <tr>
        <th>Subjects</th>

    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.subject }}</td>
        <td><a href="/addsub?subject_id={{row.subject_id}}" onclick="return confirm('Add subject?')">Select</a></td>
        {% if session['role'] == 'admin' %}
        <td><a href="/editsub?subject_id={{ row.subject_id }}">Edit</a>
        <a href="/deletesub?subject_id={{ row.subject_id }}" onclick="return confirm('Are you sure?')">Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('view_user', user_id=session['user_id']) }}">View your account</a>
<br>
<a href="{{ url_for('chosen_subject', user_id=session['user_id']) }}">My subjects</a>

{% if session['role'] == 'admin' %}
<a href="{{ url_for('add_subject') }}">Add subject </a>
<a href="{{ url_for('list_subject') }}">Subjects </a>

{% elif 'logged_in' in session %}
<a href="{{ url_for('view_user', iduser=session['iduser']) }}">View your account</a>

{% endif %}

{% endblock %}